<div class="countdown-container">
  <h1>We're launching soon</h1>
  <div class="countdown-wrapper">
    <!--start of each count-->
    <span class="number-wrapper">
      <div class="number-cover__container">
        <div class="number-cover top">
          <div class="number-cover"></div>
        </div>
        <span class="number">08 </span>
        <div class="number-cover bottom"></div>
      </div>

      <span class="number-desc">days</span>
    </span>
    <!--end of each count-->

    <!--start of each count-->
    <span class="number-wrapper">
      <div class="number-cover__container">
        <div class="number-cover top">
          <div class="number-cover"></div>
        </div>
        <span class="number">23 </span>
        <div class="number-cover bottom"></div>
      </div>

      <span class="number-desc">hours</span>
    </span>
    <!--end of each count-->
    <!--start of each count-->
    <span class="number-wrapper">
      <div class="number-cover__container">
        <div class="number-cover top">
          <div class="number-cover"></div>
        </div>
        <span class="number">55 </span>
        <div class="number-cover bottom"></div>
      </div>

      <span class="number-desc">minutes</span>
    </span>
    <!--end of each count-->

    <!--start of each count-->
    <span class="number-wrapper">
      <div class="number-cover__container">
        <div class="number-cover top">
          <div class="number-cover"></div>
        </div>
        <span class="number">41 </span>
        <div class="number-cover bottom"></div>
      </div>

      <span class="number-desc">seconds</span>
    </span>
    <!--end of each count-->
  </div>
</div>
<div class="datespan">the launch date is</div>
<div class="deadline"></div>
