//fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Red+Hat+Text:wght@700&display=swap');
//variables
// Primary
$Grayish_blue: hsl(237, 18%, 59%);
$Soft_red: hsl(345, 95%, 68%);

// Neutral
$White: hsl(0, 0%, 100%);
$Dark_desaturated_blue: hsl(236, 21%, 26%);
$Very_dark_blue: hsl(235, 16%, 14%);
$Very_dark_blue_two: hsl(234, 17%, 12%); //(mostly black)
$background_color: #211a29;

//General parameters
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: 'Red Hat Text', sans-serif;
}
body {
  margin: 0;

  background-image: url(/images/pattern-hills.svg), url(/images/bg-stars.svg);
  background-color: $background_color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1,
h2,
h3,
h4 {
  font-family: 'Red Hat Text', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 894px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

//JS added classes
.tik-tok {
  opacity: 0;
}
//countdown
.countdown-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  padding-top: 6rem;
  gap: 4.5rem;
  h1 {
    color: $White;
  }
  h1,
  .datespan {
    font-size: 1.05rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.datespan {
  margin-top: 3rem;
  margin: 0 1.5rem;
  text-align: center;
  color: rgb(255, 24, 44);
}

.container {
  display: flex;
  gap: 0.8em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
}

.segment {
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

.segment-title {
  color: $Grayish_blue;
  font-size: 0.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  color: $Soft_red;
  height: 3.75rem;
  width: 4.35rem;
}
//JS
.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em; //half
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
  font-size: 2.5rem;
  border-radius: 7px;
}
.top,
.flip-card .top-flip {
  background-color: $Dark_desaturated_blue;
  border-bottom: 1px solid yellow;
}

.bottom,
.flip-card .bottom-flip {
  background-color: $Dark_desaturated_blue;
  display: flex;
  align-items: flex-end;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}
.icons {
  display: flex;
  gap: 2rem;
}
.datespan-wrapper {
  color: yellow;
}
@media screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .countdown-container {
    transform: scale(1.05);
  }

  .container {
    transform: scale(1.4);
  }
}

@media screen and (max-width: 350px) {
  .countdown-container {
    transform: scale(0.8);
  }

  .container {
    transform: scale(0.8);
  }
}
